.title {
    font-family: 'Poppins', sans-serif;
}


.notes {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #333333;
    border-radius: 10px;
    width: fit-content;
}

.rating {
    display: flex;
    align-items: center;
    gap: 10px;

}

.rating-name {
    width: 120px;
}

.rating-score {
    width: 30px;
    text-align: center;
}

.bar {
    position: relative;
    width: 150px;
    height: 3px;
    background-color: #333;

}

.point {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 12px;
    background-color: #333;
    border-radius: 50%;
    transform: translate(-50%, -50%);

}

.score-1 {
    left: 20%;
}

.score-1-5 {
    left: 30%;
}

.score-2 {
    left: 40%;
}

.score-2-5 {
    left: 50%;
}

.score-3 {
    left: 60%;
}

.score-3-5 {
    left: 70%;
}

.score-4 {
    left: 80%;
}

.score-4-5 {
    left: 90%;
}

.score-5 {
    left: 100%;
}